@charset "UTF-8";

/* Fonts */
@font-face {
    font-family: 'Gotham';
    src: url(/fonts/Gotham-Light.otf) format('opentype'), url(/fonts/GothamMedium.ttf) format('truetype'), url(/fonts/GothamBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General */
:root {
    --spotifyGreen: #1ED760;
    --spotifyGrey: #121212;
    --black: #000000;
    --white: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    background: var(--spotifyGreen);
    color: var(--black);
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 30px;
}

.page {
    margin: 20px;
}

a {
    text-decoration: none;
}

/* Header */
header {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--black);
    padding-bottom: 35px;
}

header span {
    font-size: 70px;
}

/* Main */
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 800px;
}

/* Section img-text */
.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

.img-text img {
    width: 400px;
}

.img-text p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-size: 60px;
}

/* Section access-button */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 220px;
    width: 420px;
    font-size: 77px;
    background: var(--black);
    color: var(--spotifyGreen);
    border: none;
    border-radius: 30px;
    transition: all .5s;
}

button:hover {
    background: var(--spotifyGrey);
    box-shadow: 6px 3px 10px rgba(0, 0, 0, 0.41);
    cursor: pointer;
    transition: all .5s;
}

/* Line */
.line {
    margin: 0 auto 40px;
    border: 1px solid var(--black);
    width: 1200px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 40px;
}

footer a {
    color: var(--black);
    transition: all .5s;
}

footer a:hover {
    background: var(--spotifyGreen);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.339);
    border-radius: 6px;
    color: var(--white);
    transition: all .5s;
}