@charset "UTF-8";

/* Fonts */
@font-face {
    font-family: 'Gotham';
    src: url(/fonts/Gotham-Light.otf) format('opentype'), url(/fonts/GothamMedium.ttf) format('truetype'), url(/fonts/GothamBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General */
:root {
    --spotifyGreen: #1ED760;
    --spotifyGrey: #121212;
    --black: #000000;
    --white: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    background: var(--spotifyGreen);
    color: var(--black);
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 30px;
}

/* Main */
main {
    margin: 20px;
}

img {
    width: 500px;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 80px;
}

/* Section */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 70px;
}

section a {
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 30px;
    transition: all .3s;
}

section a:hover {
    background-color: var(--black);
    color: var(--spotifyGreen);
    border-radius: 30px;
    box-shadow: 6px 3px 10px rgba(0, 0, 0, 0.41);
    transition: all .3s;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 300px;
    width: 400px;
    padding: 10px;
}

.option p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

/* Button */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 250px;
    border: none;
    border-radius: 30px;
    background: var(--black);
    color: var(--spotifyGreen);
    font-size: 25px;
    transition: all .3s;
}

button:hover {
    background: var(--spotifyGrey);
    color: var(--spotifyGreen);
    box-shadow: 6px 3px 10px rgba(0, 0, 0, 0.41);
    cursor: pointer;
    transition: all .3s;
}

.return-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    text-align: center;
}

.return-button a {
    text-decoration: none;
}

.return-button p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}