@charset "UTF-8";

/* Fonts */
@font-face {
    font-family: 'Gotham';
    src: url(/fonts/Gotham-Light.otf) format('opentype'), url(/fonts/GothamMedium.ttf) format('truetype'), url(/fonts/GothamBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General */
:root {
    --spotifyGreen: #1ED760;
    --spotifyGrey: #121212;
    --black: #000000;
    --white: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    background: var(--spotifyGreen);
    color: var(--black);
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 30px;
}

/* Main */
main {
    margin: 20px;
}

main h2 {
    text-align: center;
    margin: 60px 0 40px;
}

/* Img */
img {
    width: 500px;
}

/* .congrats-message */
.congrats-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.congrats-message h1, p {
    margin: 0;
}

/* #songs */
#spotify-songs {
    margin: 100px 0 0;
    display: flex;
    justify-content: center;
}

.songs {
    width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Buttons */
#buttons {
    /* border: 1px solid red; */
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.button {
    height: 150px;
    width: 250px;
    border: none;
    border-radius: 30px;
    background: var(--black);
    color: var(--spotifyGreen);
    transition: all .3s;
}

.button:hover {
    background: var(--spotifyGrey);
    color: var(--spotifyGreen);
    box-shadow: 6px 3px 10px rgba(0, 0, 0, 0.41);
    cursor: pointer;
    transition: all .3s;
}

.button p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 31px;
}