@charset "UTF-8";

/* Fonts */
@font-face {
    font-family: 'Gotham';
    src: url(/fonts/Gotham-Light.otf) format('opentype'), url(/fonts/GothamMedium.ttf) format('truetype'), url(/fonts/GothamBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General */
:root {
    --spotifyGreen: #1ED760;
    --spotifyGrey: #121212;
    --black: #000000;
    --white: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    background: var(--spotifyGreen);
    color: var(--black);
    font-family: 'Gotham';
    font-weight: normal;
    font-size: 30px;
    box-sizing: border-box;
}

/* Main */
main {
    margin: 20px;
}

img {
    width: 500px;
}

/* Nav */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav h1 {
    font-size: 100px;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 30px;
    padding: 12px;
    font-weight: bold;
    transition: all .3s;
}

nav ul a:hover {
    background: var(--black);
    color: var(--spotifyGreen);
    transition: all .3s;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* Line */
.line {
    border: 1px solid var(--white);
    width: 100%;
    margin: 20px 0 0;
}
/* Playlists Space */
#playlists-space {
    background: linear-gradient(to bottom, var(--black), var(--spotifyGrey));
    border-radius: 0 0 20px 20px;
    height: 1000px;
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#playlists-space a {
    text-decoration: none;
}

.playlist {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    border: 1px solid var(--white);
    border-radius: 30px;
    height: 150px;
    width: 800px;
    transition: all .3s;
}

.playlist:hover {
    background: var(--spotifyGreen);
    box-shadow: 3px 3px 6px #1ed75f4d;
    cursor: pointer;
    transition: all .3s;
}

.playlist img {
    width: 130px;
}

.playlist p {
    color: white;
    font-size: 65px;
    font-weight: bold;
}